
	<div class="mainTub">

		<div class="siteTitle flexRow">A listing of all transactions</div>

		<div class="flexRow">
			{{#each allTrans}}
			<div class="listingBox" style="height: {{divHeight}}rem">
				<div >A {{this.ticker}} <span style="color: {{this.typeColor}};">{{this.type}}</span> on {{this.date}},</div>
				<div class="indentList">{{this.shares}} shares @ {{this.perShare}} per share; equaling {{this.total}} total cost.</div>
			</div>
			{{/each}}
		</div>

		<div id="inclusive" class="flexRow">This will take you back to the&nbsp<a href="/">transaction page</a>.</div>	

	</div>