
	<div class="mainTub">

		<div class="siteTitle flexRow">Transaciton Conformation</div>

		<div id="confirm" class="flexColumn">

			<div id="when" class="confirmation">On {{confirm.when}} you {{confirm.what}},</div>	

			<div id="howMany" class="confirmation">{{confirm.howMany}} shares of {{confirm.ofWhat}} totaling ${{confirm.totalPrice}}</div>

			<div id="getHome" class="confirmation">This will take you back to <a href="/">transaction page</a>.</div>

		</div>

	</div>