
	<div class="mainTub">

		<div class="siteTitle flexRow">Stock and ETF Inventory</div>

		<div id="subTub" class="flexRow">
			<div id="doggyBox" class="flexColumn">
				<img id="noel" src="./image/noelBlanketCoat.png" alt="A doggy"/>
				<div id="imgTitle">"Sweet Noel"</div>
			</div>

			<div id="present" class="flexColumn">
				<div id="presentTitle">Present Values</div>

				<ul id="theTickers">
				{{#each currentPort}}
					<li  class="company">
						<div class="companyName">{{this.name}}</div>
						<div class="companyDetail"> ({{this.ticker}}) ${{this.price}}</div>
					</li>
				{{/each}}
				</ul>

			</div>
		</div>

		<form id="transaction" class="flexColumn" action="/addTransaction" method="POST">
			<div id="transTitle">Add a Transaction</div>

			<div id="transHeading" class="flexRow">
				<div id="today" class="transBoxN flexColumn">
					<div id="dateLabel">Date</div>
					<input type="text" id="date" class="inputSpace" name="date" autocomplete="off">					
				</div>
				<div id="tickerSymbol" class="transBoxN flexColumn">
					<div id="tickerLabel">Ticker Symbol</div>
					<input type="text" id="ticker" class="inputSpace" name="ticker" oninput="checkAndUpperCase()" autocomplete="off">
				</div>
				<div id="transOption" class="transBoxW flexColumn">
					<div id="optionLabel">Transaction Type</div>
					<select id="transPick" name="select">
						<option>Buy</option>
						<option>Sell</option>
						<option>Dividend</option>
						<option>Capital Gain</option>
					</select>
				</div>
				<div class="transBoxN flexColumn">
					<div id="priceLabel">Share Price</div>
					<input type="text" id="sharePrice" class="inputSpace" name="sharePrice" oninput="checkAndTwoPlace(id)" autocomplete="off">
				</div>
				<div class="transBoxW flexColumn">
					<div id="transLabel">Transaction Cost</div>
					<input type="text" id="transCost" class="inputSpace" name="transCost" oninput="checkAndTwoPlace(id)" autocomplete="off">
				</div>
				<div class="orBox flexColumn">
					<div >or</div>
				</div>
				<div class="transBoxW flexColumn">
					<div id="numberLabel">Number of Shares</div>
					<input type="text" id="shareNumber" class="inputSpace" name="shareNumber" oninput="checkAndThreePlace()" autocomplete="off">
				</div>
			</div>

			<input type="button" id="addTrans" value="Add a Transaction">
		</form>

		<div id="portfolio" class="flexColumn">

			<div id="portTitle">Your Portfolio</div>

			<div id="portHeading" class="flexRow">
				<div id="" class="portBoxN flexColumnBoth">Ticker</div>
				<div id="" class="portBoxW flexColumnBoth">Total Shares</div>
				<div id="" class="portBoxW flexColumnBoth">Purchased Value</div>
				<div id="" class="portBoxW flexColumnBoth">Current Value</div>
			</div>
			{{#each portfolioData}}
			<div class="portData flexRow">			
				<div class="portBoxN flexColumnBoth">{{this.ticker}}</div>
				<div class="portBoxW flexColumnBoth">{{this.totalShares}}</div>
				<div class="portBoxW flexColumnBoth">{{this.totalCost}}</div>
				<div class="portBoxW flexColumnBoth">{{this.currentValue}}</div>
			</div>
			{{/each}}

		</div>

		<form id="inclusive" class="flexColumn" action="/allInclusive" method="GET">
			<input type="submit" id="allTrans" value="All Transactions">
		</form>

	</div>

	<script src="./javascript/mainJS.js"></script>